<!-- login.component.html -->
<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 300px">
    <div class="card-body">
      <h4 class="card-title text-center mb-3">Login</h4>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="mb-3">
          <label>Username:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            [(ngModel)]="login.username"
            required
          />
        </div>

        <div>
          <label>Password:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="login.password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3 mb-1" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</div>
