<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Registration Form</h4>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <!-- Name -->
        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input type="text" class="form-control" [(ngModel)]="student.name" name="name">
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" [(ngModel)]="student.email" name="email">
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="student.password" name="password">
        </div>

        <!-- Role -->
        <div class="mb-3">
          <label class="form-label">Role</label>
          <select class="form-select" [(ngModel)]="student.role" name="role">
            <option value="">Select Role</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
            <option value="Admin">Admin</option>
          </select> 
        </div>

        <!-- phone -->
        <div class="mb-3">
          <label class="form-label">Phone</label>
          <input class="form-control" placeholder="Enter your phone number" minlength="10" maxlength="10" [(ngModel)]="student.phone" name="phone">
        </div>

        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
    </div>
  </div>
</div>

